.container {
    width: 1200px;
    // text-align: center;
    background: #f8f8f8;
    margin: 5px auto;
    .search-box{
        margin-top: 20px;
         .el-form {
            .el-form-item {
                label {
                  font-size: 16px;
                  font-weight: 600;
                }
            }
            .el-row {
                .el-col {
                  &:nth-of-type(4),&:nth-of-type(5){
                      margin-left: 20px;
                  }
                }
            }
        }
    }
    .team-list {
        .el-col {
            width: 265px;
            margin: 10px 23px;
            // box-shadow: 0px 0 19px 0px rgba(145, 181, 226, 0.52);
            cursor: pointer;

            &:nth-of-type(4n+1) {
                margin-left: 0px;
            }

            &:nth-of-type(4n) {
                margin-right: 0px;
            }

            .el-card .el-card__body {
                margin: 10px;
                border-bottom: 1px solid #d2c1c1;

                h3 {
                    font-size: 18px;
                    font-weight: 800;
                    text-align: left;
                    // margin: 10px;
                }

                p {
                    font-size: 16px;
                    margin: 15px auto;

                    &:nth-of-type(2) {
                        span {
                            font-weight: 600;
                            margin: 0px;
                        }
                    }

                    span {
                        margin: 0px;
                    }
                }

                span {
                    margin: 5px 0px 10px;
                    &:nth-of-type(1) {
                        float: left;
                        // margin: 10px;
                    }

                    &:nth-of-type(2) {
                        float: right;
                        // margin: 10px;
                    }
                }
            }

            &:nth-of-type(12) {
                text-align: center;
                background: #ffffff;
                font-size: 25px;
                border-radius: 4px;
                span {
                    display: block;
                    width: 265px;
                    height: 138px;
                    color: #959596;
                    line-height: 138px;
                    border-radius: 4px;
                }
            }
            :hover{
                background: rgb(111, 177, 240);
            }
        }
    }
}